- javascript('jquery', 'application')

- form_for @guest do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email
    %br
    = f.text_field :email
  Events
  #rsvps
    - f.fields_for :rsvps do |rsvp_form|
      = render :partial => 'rsvp', :locals => { :f => rsvp_form }
    = new_child_fields_template(f, :rsvps)
    = add_child_link "Add an Event", :rsvps
    
  %p
    = f.submit "Submit"