- title "RSVP"

%p
  %strong Name:
  =h @guest.name
%p
  %strong Email:
  =h @guest.email
%p
  %strong Events:
%p.indented
  - @guest.rsvps.each do |r|
    = r.attending
    = Event.find(r.event_id).title
    %br

%p
  - if admin?
    = link_to "Edit", edit_guest_path(@guest)
    |
    = link_to "Destroy", @guest, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", guests_path
