- title "Article"

.float_right= h @article.published_on_formatted
%h4
  = h @article.title
  - if admin?
    = link_to 'Edit', edit_article_path(@article)
    = link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete

%div= h @article.body

- if admin?
  %p= link_to "View All", articles_path
