- form_for @event do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :scheduled_at
    %br
    = f.text_field :scheduled_at
  %p
    = f.label :rsvp
    %br
    = f.select("rsvp", { "Yes" => true, "No" => false })
  %p
    = f.submit "Submit"
