- title "Events"

#calendar
  = calendar_view

%table{:cellspacing => 10}
  - for event in @events
    %tr
      %td
        = link_to event.title, event
      %td
        = h event.scheduled_at_formatted
      %td
        - if admin?
          = link_to 'Edit', edit_event_path(event)
          = link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

- if admin?
  %p= link_to "New Event", new_event_path

.clear