- title "Events"

#calendar
  %table{:style => "width:300px;margin-left:30px;"}
    %tr
      %th.monthName{:colspan => 2}
        = @event.scheduled_at_formatted("date")
    %tr.dayName
      %th{:colspan => 2}
        &nbsp;
    - @events.each do |e|
      %tr  
        %td.day
          = link_to e.title, e
        %td.day
          = e.scheduled_at_formatted("time")


%h2
  =h @event.title
  = @event.rsvp == true ? "Click to RSVP" : "No"
%p
  =h @event.description

%p
  = link_to "Edit", edit_event_path(@event)
  |
  = link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", events_path

.clear