- title "Gift Registry"

- if admin?
  - for gift in @gifts
    %p{:style => "text-align:right;"}
      = link_to gift.name, gift
      &nbsp;
      = h number_to_currency(gift.amount.to_r.to_d / 100)
      &nbsp;
      = link_to 'Edit', edit_gift_path(gift)
      |
      = link_to 'Destroy', gift, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Gift", new_gift_path

#gifts_content
  = render :partial => "pages/show"

#goal_meter
  = render :partial => 'goal_meter'

- form_tag("https://www.paypal.com/cgi-bin/webscr") do
  = hidden_field_tag :cmd, "_s-xclick"
  = hidden_field_tag :hosted_button_id, APP_CONFIG['paypal_button_id']
  = submit_tag "Contribute"