- title "Registry"

- if admin?
  %table{:border => 1}
    %tr
      %th Name
      %th Amount
      %th Payment Status
      %th txn_id
      %th Receiver Email
      %th Payer Email
      %th Address
      %th Address Status
      - for gift in @gifts
        %tr
          %td= h gift.name
          %td= h number_to_currency(gift.amount / 100)
          %td= h gift.status
          %td= h gift.txn_id
          %td= h gift.receiver_email
          %td= h gift.payer_email
          %td= "#{gift.address_name}<br/>#{gift.address_street}<br/>#{gift.address_city},&nbsp;#{gift.address_state}&nbsp;#{gift.address_zip}<br/>#{gift.address_country}"
          %td= h gift.address_status
          %td
            = link_to 'Edit', edit_gift_path(gift)
            = link_to 'Destroy', gift, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Gift", new_gift_path

#gifts_content
  = render :partial => "pages/show"

#goal_meter
  = render :partial => 'goal_meter'

- form_tag("https://www.paypal.com/cgi-bin/webscr") do
  = hidden_field_tag :cmd, "_s-xclick"
  = hidden_field_tag :hosted_button_id, APP_CONFIG['paypal_button_id']
  = submit_tag "Contribute"