- form_for @page do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :permalink
    %br
    = f.text_field :permalink
  %p
    = f.label :content
    = "&nbsp;(format with #{link_to "textile", "http://redcloth.org/textile/", :target => "blank"})"
    %br
    = f.text_area :content
  %p
    = f.submit "Submit"
