- title "Stories"

- for story in @stories
  .float_right= h story.published_on_formatted
  %h4
    = h story.title
    -if admin?
      = link_to 'Edit', edit_story_path(story)
      = link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete
  %div
    = h truncate(story.body)
    = link_to 'Read More...', story

- if admin?
  %p= link_to "New Story", new_story_path
