- form_for @photo, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.submit "Submit"