!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'calendar/blue/style'
    = yield(:head)
    - javascript_tag do
      = yield(:jstemplates)
  
  %body
    =image_tag("background.png", :class => "bg")
    #container_for_background
      #header
        = image_tag("names.png")
      #container_for_padding
        #menu
          %p= link_to "Home", page_permalink_path("home")
          %p= link_to "News", articles_path
          %p= link_to "Events", events_path
          %p= link_to "Stories", stories_path
          %p= link_to "Wedding Party", members_path
          %p= link_to "Gift Registry", gifts_path
          %p= link_to "RSVP", new_guest_path
          - @pages = Page.all.each do |page|
            %p= link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home" || page.permalink == "gifts"
          - if admin?
            %p= link_to "Extra Pages", pages_path
            %p= link_to "Slideshow Photos", photos_path
            %p= link_to "Logout", logout_path
        
        #content
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

          - if show_title?
            %h2=h yield(:title)
        
          = yield
      
        .clear
      #footer
        <script type="text/javascript" src="http://mycountdown.org/countdown.php?cp3_Hex=FFB200&cp2_Hex=FFFFFF&cp1_Hex=C16928&ham=0&img=&hbg=0&hfg=0&sid=0&fwdt=150&text1=Wedding&text2=Happy Wedding&group=Special Day&countdown=Wedding&widget_number=3010&event_time=1285977600"></script>
        
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-2807156-9");
        pageTracker._trackPageview();
        } catch(err) {}</script>