!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'calendar/blue/style'
    = yield(:head)
    - javascript_tag do
      = yield(:jstemplates)
  
  %body
    =image_tag("background.png", :class => "bg")
    #container_for_background
      #header
        = "#{APP_CONFIG['groom']} and #{APP_CONFIG['bride']}"
      #container_for_padding
        #menu
          %p= link_to "Home", page_permalink_path("home")
          %p= link_to "News", articles_path
          %p= link_to "Events", events_path
          %p= link_to "Stories", stories_path
          %p= link_to "Wedding Party", members_path
          %p= link_to "Gift Registry", gifts_path
          %p= link_to "RSVP", new_guest_path
          - @pages = Page.all.each do |page|
            %p= link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home" || page.permalink == "gifts"
          - if admin?
            %p= link_to "logout", logout_path
        
        #content
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

          - if show_title?
            %h2=h yield(:title)
        
          = yield
      
        .clear
      #footer &nbsp;