!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'calendar/blue/style'
    = yield(:head)
    - javascript_tag do
      = yield(:jstemplates)
  
  %body
    =image_tag("background.png", :class => "bg")
    #container
      =image_tag("header.png")
      #content
        #menu
          %p= link_to "Home", page_permalink_path("home")
          %p= link_to "News", articles_path
          %p= link_to "Events", events_path
          %p= link_to "Stories", stories_path
          %p= link_to "Wedding Party", members_path
          %p= link_to "Gifts", gifts_path
          %p= link_to "RSVP", guests_path
          %p= link_to "Pages", "javascript:void(0);"
          - @pages = Page.all.each do |page|
            %p= link_to page.name, page_permalink_path(page.permalink) unless page.permalink == "home"
        
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h2=h yield(:title)
        
        = yield
      
        .clear
      =image_tag("footer.png", :style => "vertical-align:bottom;")