- title "Wedding Party"

- for member in @members
  %p
    #member_photo= image_tag member.photo.url(:medium)
    %br
    #member_info
      #member_name= h member.name
      %br
      = h member.bio
    .clear &nbsp;
    - if admin?
      = link_to 'Edit', edit_member_path(member)
      = link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

- if admin?
  %p= link_to "New Member", new_member_path
